{% extends 'frontpage/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} Home {% endblock %}
<!--  -->
{% block banner_slider %}
<!--  -->
<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'app/images/logo.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/logo.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'app/images/logo.png' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %} {% block info %}
<div class="container">
  <div
    class="row bg-body-secondary text-center p-5 text-white border-bottom shadow mt-5 mb-5 text-black"
  >
    <h1 class="text-black">Products</h1>
    <small class="fs-5 text-black">
      Abdul Supermarket offers a wide range of products in both liquid milk and
      by-product categories. The liquid milk comprises of variants and the
      by-product comprises of 14 types of variants.
    </small>
  </div>
</div>
{% endblock %}
<!--  -->
{% block content %}

<div class="d-flex flex-column">
  <h1 class="text-center text-black">Latest Products</h1>

  <div class="container">
    <div class="row mt-5 mb-5 text-center d-flex ">
      {% for product in products %}
      <div class="col-sm w-300 h-300 p-3 ">
        <a class="text-decoration-none m-2 " href="{% url 'products' product.categories.slug product.slug %}">
          <img src="{{ product.photo.url}}" class="w-100 h-50" alt="" />
          <p class="text-black">{{product.title}}</p>
          <p>${{product.display_price}}</p>
          <p>{{product.updated_at}}</p>
          {{username}}
        </a>
      </div>
      
      {% endfor %}
    </div>
    <br/><br/><br/>
  </div>
  
</div>

{% endblock %}


