{% extends 'frontpage/base.html' %}
<!--  -->
{% block title %}Checkout{% endblock %}
<!--  -->
{% block content %}

<div class="container">
  <h1 class="mb-6 text-2xl">Checkout</h1>

  <h2 class="text-xl text-gray-500">Total cost: ${{ cart.get_total_cost }}</h2>
  {{ form.as_p }}
  <div id="errors" class="hidden"></div>
  <button class="" onclick="buy(event)">Checkout</button>
</div>

{% endblock %}
<!--  -->
{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
  function validate(
    first_name,
    last_name,
    address,
    city,
    email,
    postalcode,
    phone
  ) {
    let errors = [];

    if (first_name == "") {
      errors.push("The fisrt name is missing");
    }
    if (last_name == "") {
      errors.push("The last name is missing");
    }
    if (address == "") {
      errors.push("The address is missing");
    }
    if (city == "") {
      errors.push("The city is missing");
    }
    if (postalcode == "") {
      errors.push("The Postal Code is missing");
    }
    if (email == "") {
      errors.push("The phone number is missing");
    }
    if (phone == "") {
      errors.push("The email is missing");
    }

    let html = "";

    for (let i = 0; i < errors.length; i++) {
      html += errors[i] + "<br>";
    }

    let errorsElement = document.getElementById("errors");

    if (errors.length) {
      errorsElement.classList.remove("hidden");
      errorsElement.innerHTML = html;
      return false;
    } else {
      errorsElement.classList.add("hidden");
      return true;
    }
  }

  function buy(event) {
    event.preventDefault();
    const first_name = document.getElementById("id_first_name").value;
    const last_name = document.getElementById("id_last_name").value;
    const address = document.getElementById("id_address").value;
    const city = document.getElementById("id_city").value;
    const postalcode = document.getElementById("id_postalcode").value;
    const email = document.getElementById("id_email").value;
    const phone = document.getElementById("id_phone").value;

    if (
      validate(first_name, last_name, address, postalcode, city, email, phone)
    ) {
      let data = {
        first_name: first_name,
        last_name: last_name,
        address: address,
        city: city,
        postalcode: postalcode,
        email: email,
        phone: phone,
      };

      let stripe = Stripe("{{ pub_key }}");

      fetch("/cart/checkout/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        credentials: "same-origin",
        body: JSON.stringify(data),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          alert(error);
        });
    }

    return false;
  }
</script>
{% endblock %}
