{% extends 'frontpage/base.html' %}
<!--  -->

{% load static %}
<!--  -->

{% block title %} Products {% endblock %}
<!--  -->

{% block content %}

<div class="container">
  <h1>Product Details</h1>

  <div class="item-details" style="display: flex; border-radius: 5px">
    <div
      style="padding: 15px; display: flex; gap: 15px; justify-content: center"
    >
      <img src="{{ product.photo.url }}" alt="" style="width: 50%; border-radius: 5px;" />
      <div style="text-align: left; display: flex; flex-direction: column">
        <span class="text-black" style="font-size: 25px; margin-bottom: 10px;"
          >Title: {{product.title}}</span
        >
        <span style="font-size: 18px; margin-bottom: 10px;">Price: ${{product.display_price}} </span>
        <span style="font-size: 18px; margin-bottom: 10px;"
          >Last updated: {{product.updated_at}}</span
        >
        <span>Description:</span>
        <span style="font-size: 18px; margin-bottom: 10px;">{{product.description}}</span>
        <a
          href="{% url 'add_to_cart' product.id %}"
          style="
            background: green;
            width: fit-content;
            padding: 7px;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            margin-bottom: 10px;
          "
          >Add to cart</a
        >
        <a href="{% url 'vendor_detail' product.user.id %}" style="text-decoration: none; padding: 8px; border-radius: 5px; color: black;width: fit-content
        ; font-size: 20px; background: lightgray;"
          >Seller: {% firstof product.user.get_full_name product.user.username %} <br> Click to visit store</a
        >
      </div>
    </div>
  </div>
</div>

<!--  -->
{% endblock %}
