{% extends 'frontpage/base.html' %}
<!--  -->

{% load static %}
<!--  -->
{% block title %}My Cart{% endblock %} 
<!--  -->
{% block content %}
<div class="container">
  <h1>Cart</h1>
  {% if cart|length %}
  {% for item in cart %}
  <div class="cart d-flex gap-5">
    <div class="cart-item"><p>{{item.product.title}}</p></div>
    <div class="cart-item"><p>{{item.quantity}}</p></div>
    <div class="cart-item"><p>{{item.product.display_price}}</p></div>
    <div class="cart-item"><p>{{item.total_price}}</p></div>

    <div class="cart-item">
      <a href="{% url 'update_quantity' item.product.id %}?action=increase"
        >+</a
      >
    </div>
    <div class="cart-item">
      <a href="{% url 'update_quantity' item.product.id %}?action=decrease"
        >-</a
      >
    </div>

    <div class="cart-item">
      <a href="{% url 'remove_item' item.product.id %}">Remove from cart</a>
    </div>
  </div>

  {% endfor %}
  <p>{{cart.get_total_cost}}</p>
  <a href="{% url 'checkout' %}">Proceed to checkout</a>
  {% else %}
  <h3 style="padding: 3px; background-color: antiquewhite;">You have no items in the cart</h3>
  {% endif %}
</div>

{% endblock %}
